/* Mixins */
@mixin backgroundCover() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin fontIcon() {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin btnReset() {
  background-color: transparent;
  border: 0;
  cursor: pointer;

  &:focus,
  &:active { outline: 0; }

  &:active { transform: translateY(3px); }
}
